nav {
    background-color: #f72210;
    color: white;
    font-family: 'Prompt', sans-serif;
}

.news {
    font-family: 'Merriweather', serif;
    font-size: 5rem;
}

nav img {
    width: 2rem;
}

.subs {
    background-color: #ffe400;
    color: black;
    padding:0.5rem;
    border-radius: 24px;
    font: bold 14px/20px "Roboto Condensed",sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}

.navList a {
    color: black;
    text-decoration: none;
    list-style-type: none;
    font-family: "Roboto Condensed",sans-serif;
    font-weight: bold;
    font-size: 1rem;
    line-height: 24px;
}

.navList input {
    width: 6rem;
    border: none;
}