body {
  max-width: 1320px;
}

nav {
  background-color: #f72210;
  color: white;
  font-family: 'Prompt', sans-serif;
}

.news {
  font-family: 'Merriweather', serif;
  font-size: 5rem;
}

.news2 {
  font-family: 'Merriweather', serif;
  font-size: 2rem;
}

nav img {
  width: 2rem;
}

.subs {
  background-color: #ffe400;
  color: black;
  padding: 0.5rem;
  border-radius: 24px;
  font: bold 14px/20px "Roboto Condensed", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}
.bi-list {
  font-size: 2rem;
}
.subs2 {
  background-color: #ffe400;
  color: black;
  padding: 0.5rem;
  border-radius: 24px;
  font: bold 13px/11px "Roboto Condensed", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

.navList a {
  color: black;
  text-decoration: none;
  list-style-type: none;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  line-height: 24px;
  padding: 0 1rem;
}

.navList a:hover {
  color: #f72210;
  text-decoration: none;
}

.navList input {
  width: 4rem;
  border: none;
  margin-right: 0;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

.subTitle {
  color: rgba(3, 3, 3, 0.4); 
  font-family: 'Roboto', sans-serif;
}

.par {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 15px;
  line-height: 20px;
}

.lilImage {
  min-width: 6rem;
}

.lilImage2 {
  width: 70px;
  height:60px;
}

.debate1 span,
.debate2 span {
  font-weight: 100;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 13px;
}

.debate1 {
  border-top: solid 4px #f92859;
}

.debate2 {
  border-bottom: solid 4px #1c87fb;
}


